<!DOCTYPE html>
<html lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ .Title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="constrain">
        <h1>{{ .Title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/onas">O nas</a></li>
                <li><a href="/sklep">Sklep</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>
        <section>
            <h2>Nareszcie cię znalazłam</h2>
            <article>
                <img src="/img/cargo-plecak-odblaskowy-czerwony.png" alt="Piękna fotka plecaka" width="300">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, deleniti libero officiis
                    sapiente natus obcaecati, dolor nobis doloribus incidunt in quia pariatur tempora ab facere error
                    eaque beatae nulla dolores?</p>
                <aside>Cargo is <em>always</em> on the side of people who need help. We help <strong>Ukrainian women and
                        children</strong> who had
                    to leave their homes because of war.</aside>
                <footer>
                    Zobacz nasze <em>inne plecaki</em> na stronie
                    <a href="https://cargobyowee.com/?przyszlo_z_lekki_plecak">Cargo</a>
                </footer>
            </article>
        </section>
        <section>
            <h2>Second Section Header</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam cum non autem hic voluptas atque
                ipsum libero veniam cumque et possimus, dolorum, enim nam ab vel rerum, excepturi totam harum.</p>
        </section>
        <section>
            <h2>Third Section Header</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam cum non autem hic voluptas atque
                ipsum libero veniam cumque et possimus, dolorum, enim nam ab vel rerum, excepturi totam harum.</p>
        </section>
        <section>
            <h2>Fourth Section Header</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam cum non autem hic voluptas atque
                ipsum libero veniam cumque et possimus, dolorum, enim nam ab vel rerum, excepturi totam harum.</p>
        </section>
        <section>
            <h2>Fifth Section Header</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam cum non autem hic voluptas atque
                ipsum libero veniam cumque et possimus, dolorum, enim nam ab vel rerum, excepturi totam harum.</p>
        </section>
        <section>
            <h2>Tabular section: Backpack features</h2>
            <table>
                <caption>Table caption</caption>
                <thead>
                    <tr>
                        <th>Column One</th>
                        <th>Column Two</th>
                        <th>Column Three</th>
                        <th>Column Four</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                    <tr>
                        <th>Data cell 01</th>
                        <th>Data cell 02</th>
                        <th>Data cell 03</th>
                        <th>Data cell 04</th>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Testimonials</h2>
            <blockquote>
                <article>
                    <h2>01 Super cool and light packpacks</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <footer> &dzigrarr; Mary Doe</footer>
                </article>
            </blockquote>
            <blockquote>
                <article>
                    <h2>02 Super cool and light packpacks</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <footer> &dzigrarr; Mary Doe</footer>
                </article>
            </blockquote>
            <blockquote>
                <article>
                    <h2>03 Super cool and light packpacks</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <footer> &dzigrarr; Mary Doe</footer>
                </article>
            </blockquote>
            <blockquote>
                <article>
                    <h2>04 Super cool and light packpacks</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <footer> &dzigrarr; Mary Doe</footer>
                </article>
            </blockquote>
            <blockquote>
                <article>
                    <h2>05 Super cool and light packpacks</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, laboriosam? Officia,
                        perspiciatis nobis sit odit, eos soluta suscipit fuga, quaerat animi eligendi voluptates quod
                        quibusdam. Quod maxime quae quibusdam molestias?</p>
                    <footer> &dzigrarr; Mary Doe</footer>
                </article>
            </blockquote>
        </section>
        <section>
            <h2>Our Mailing Address & The Warsaw Shop</h2>
            <address>
                <p>Cargo by Owee<br>
                    02-057 Warszawa
                    ul. Filtrowa 62/224<br>
                    Polska
                </p>
            </address>
        </section>
        <section>
            <h2>Final SectionHeader</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum minima delectus fugiat reprehenderit
                veritatis sint iusto, iste ducimus cum impedit nihil odio tempore molestias, nesciunt ipsum ex fuga esse
                laborum!</p>
        </section>
        <hr>
        <footer class="footer">
            <address>
                <p>Give us a shout
                    <a href="mailto:chcemy@lekkiplecak.pl">that you WANT a "Lekki plecak"</a>
                </p>
            </address>
            <p><small>
                    &copy; 2022 | All rights reserved by Cargo by Owee. Website designed and created with love by
                    <a href="http://igor.remesz.pl">IKR</a>
                </small></p>
        </footer>

    </main>
</body>
<html>

</html>